/* .search-results {
    background-color: #333;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
} */

/* .track {
    width: 100%;
    align-items: center;
    justify-items: center;
} */