.track {
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.track img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.track-name {
    font-weight: bold;
    font-size: 1rem;
}

.track-info {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
}

.track-info p {
    margin: 5px 0;
}

.add-button {
    background-color: #666;
    border: none;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.remove-button {
    background-color: #666;
    border: none;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}